.portfolio{
    height: 100vh;
    width: 100%;
    background-image: "\portfolio.jpg";
    background-size: cover;
    background-position: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right:8% ;
}
.Design{
   color: white;
   font-size: 35px;
   letter-spacing: 1px;
   cursor:pointer 
}